.weather-icon-large {
  font-size: 3em;
}

.weather-condition {
  font-size: 1.1em;
  color: #ffffff;
  font-weight: 500;
}

.weather-temp {
  font-size: 1em;
  color: #f4d03f;
  font-weight: bold;
}

.weather-details {
  font-size: 0.9em;
  color: #cccccc;
}

.weather-wind {
  font-size: 0.9em;
  color: #cccccc;
}

.weather-header {
  font-size: 0.8em;
  color: #f4d03f;
  font-weight: bold;
}

.forecast-day {
  min-width: 60px;
}

.forecast-day-name {
  font-size: 0.9em;
  color: #f4d03f;
  font-weight: bold;
}

.weather-icon {
  font-size: 1.8em;
}

.forecast-temp {
  font-size: 0.8em;
  color: #cccccc;
  font-weight: 500;
}
